<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= form_tag("/home/callback", :method => "get") do %>
  <%= label_tag(:q, "Click to Button for authentication facebook") %>
<div class="btn btn-primary"> <%= submit_tag("Authenticate") %></div>
<% end %>
