// Place all the styles related to the Userfacebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// change colors



/* forms */

div.field, div.actions {
  margin-bottom: 10px;
}

