<%#*<h1>All product</h1>%>

<%#*<ul class="users">%>
  <%# @product.each do |product| %>
    <%#*<li>%>
      <%#= product.name %>
      <%#= link_to "choose", product_path(product)%>
    <%#*</li>%>
  <%# end %>
   <%#= will_paginate @product %>
<%#*</ul>%>
